<script setup lang="ts">
import MainLayout from "@/layoutts/MainLayout.vue";
import FullLayout from "@/layoutts/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDailog from "./components/MessageDailog.vue";
</script>

<template>
  <!-- {{ $route.meta }} -->
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDailog></MessageDailog>
</template>

<style scoped></style>
